<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @feedbackcomment.user %>
</p>

<p>
  <strong>Created:</strong>
  <%= @feedbackcomment.created %>
</p>

<p>
  <strong>Lastupdate:</strong>
  <%= @feedbackcomment.updated %>
</p>

<p>
  <strong>Content:</strong>
  <%= @feedbackcomment.content %>
</p>

<%= link_to 'Edit', edit_feedbackcomment_path(@feedbackcomment) %> |
<%= link_to 'Back', feedbackcomments_path %>
