<%= form_for(@feedback) do |f| %>
  <% if @feedback.errors.any? %>
    <div class="alert alert-danger">
      <% @feedback.errors.full_messages.each do |message| %>
        <%= message %> <br />
      <% end %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :alias %><br>
    <%= f.text_field :alias %>
  </div>
  <div class="field">
    <%= f.label :htmlContent %><br>
    <%= f.text_area :htmlContent %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :created %><br>
    <%= f.datetime_select :created %>
  </div>

  <div class="actions">
    <%= f.submit :class => "btn btn-primary" %>
  </div>
<% end %>
